<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
       
     body{
            background-color: rgb(255, 0, 149);
        }
    </style>
</head>

<body>
 {{>header}}

<h1>{{name}}</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure, obcaecati temporibus exercitationem fugiat ex dolores sed, voluptates repellat officia aut eligendi facere, consequuntur cupiditate architecto ducimus excepturi reprehenderit eos perspiciatis!</p>

</body>
</html> 