body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}
.App button {
  margin-left: 20px;
  background-color: green;
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  height: 40px;
  padding: 5px 9px;
}
button:hover {
  background-color: rgba(0, 128, 0, 0.884);
}

input {
  border-radius: 20px;
  outline: none;
  border: 3px solid green;
  font-size: 20px;
  width: 500px;
  height: 40px;
  padding: 5px 9px;
}

li{
  list-style: none;
  font-size: 20px;
  
}